Boston-guide/.idea/
Boston-guide/target/global-logging/sbt-global-log12298584568168871050.log
Boston-guide/target/global-logging/
Boston-guide/target/streams/_global/assemblyOption/_global/streams/assembly/
Boston-guide/project/project/target/config-classes/
Boston-guide/project/target/config-classes/
json_reader_nikolaev/.idea/
json_reader_nikolaev/target/global-logging/
